.container {
    margin: 0;
    height: 100vh;
    background: linear-gradient(#121212, #212b46);
}

.topo {
    background-image: url("../public/img/bannerBlue.png");
    z-index: -1;
    height: 35vh;
}

.title {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    color: #FFF;
    animation: flipTitle 2s;
}

@keyframes flipTitle {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

.containerInput {
    background-color: rgba(255, 255, 255, 0.767);
    padding: 10px;
    margin: 34px 500px;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #111;
    outline: none;
    margin-right: 235px;
}

.containerInput input::placeholder {
    color: #6d6c6c;
}

.buttonSearch {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover {
    transform: scale(1.2);
}

.main {
    margin-left: 35vh;
    margin-top: 50px;
    background: #FFF;
    width: 1000px;
    height: 140px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.main h2 {
    width: 150px;
    font-size: 15px;
    margin-bottom: 20px;
}

@media (max-width: 700px) {

    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .title {
        margin-bottom: 6vh;
    }
    .containerInput {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 auto;
    }
    .containerInput input {
        background-color: transparent;
        font-size: 20px;
        color: #111;
        outline: none;
        margin-right: 0;
    }
    .buttonSearch {
        background-color: transparent;
        cursor: pointer;
        transition: transform 0.5s;
        margin-left: -12vh;
    }
    .main {
        width: 80%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        margin-top: 8vh;
    }
    .main h2 {
        margin-bottom: 5px;
    }
    .main span {
        margin-top: 20px;
        text-align: center;
    }
    .main .cep {
        margin-top: 5px;
    }
}